<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="activitystream" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Activity Stream</label>
            <tab>general</tab>
            <resource>PL_Activitystream::system_config</resource>
            <group id="base_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Activity Stream Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="first_time_load" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Time Load</label>
                    <comment>millisecond - Notice appears after first time of page load</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="time_delay" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time Deplay</label>
                    <comment>millisecond - Next Notice appears after x time</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="time_display" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Within</label>
                    <comment>millisecond - Notice disappears after x time</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="max_number" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Number</label>
                    <comment>Number of people looking up that will be shown randomly</comment>
                </field>
                <field id="message" translate="label comment" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                </field>

            </group>
            <group id="advance_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advance Settings</label>
                <field id="mobile" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile Devices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>